<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {% block title %} {% endblock %} @ coursesite </title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-dark.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/course.css') }}"> -->

        <!-- TODO: Add base css -->

    {% endblock %}
</head>
<body>
    {% block navbar %}
        <nav>
            <div class="nav-btn-div">
                <div class="nav-btn">
                    <span class="lightgrey-bar"></span>
                    <span style="width: 15px;" class="lightgrey-bar"></span>
                    <span style="width: 20px;" class="lightgrey-bar"></span>
                </div>
            </div>

            <div class="brand">
                <a class="link-white" href="{{ url_for('home.index') }}">coursesite.com.ng</a>
            </div> 
        </nav>

        <!-- Menu -->
        <div class="nav-content" style="display:none">
            
            <div class="top">
                <strong class="title">MENU</strong>
                <input type="button" class="btn-close">
            </div>

            <div class="main">
                <div class="link">
                    <a class="link-white" href="{{ url_for('dashboard.index') }}" class=''>Getting Started</a>
                </div>

                <div class="link">
                    <a class="link-white" href="{{ url_for('dashboard.subscriptions') }}" class=''>Subscriptions</a>
                </div>

                <div>
                    <a class="link-white" href="{{ url_for('dashboard.hosted') }}" class=''>My Courses
                    </a>
                </div>

                <div class="link">
                    <a class="link-white" href="{{ url_for('auth.logout') }}">Log Out</a>
                </div>
            </div>
        </div>
        
    {% endblock %}
    
    {% block content %}
        
    {% endblock %}
</body>
    {% block scripts %}
        <script src="{{ url_for('static', filename='js/nav.js') }}"></script>  
    {% endblock %}
</html>